{% extends "layouts/base.html" %}

{% block content %}
  <div class="menu">
    {% include "partials/breakfast.html" %}
    {% include "partials/lunch.html" %}
    {% include "partials/miscellaneous.html" %}
    {{ content | safe }}

    <!-- <button class="menu-download button"><a href="#">Download Our Menu</a></button>
    <button class="order-online button"><a href="#">Order Online</a></button> -->
  </div>
  <section id="others">
    <p>Please inform someone of any other food allergies that someone in your party may have. Thank
      you.</p>
    <p>Prices subject to change and do not include 9&percnt; New Hampshire meals tax.</p>
    <p>Consuming raw or undercooked meats, poultry, seafood, shellfish, or eggs may increase your risk of food-borne illness.</p>
  </section>
{% endblock %}