/*** CSS Reset ***/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
ol[class],
ul[class],
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

/*** Typography ***/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a,
a:visited {
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

:focus:not(:focus-visible) {
  outline: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*** Layout & Box-sizing ***/

article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*** Specific Resets ***/

html {
  scroll-behavior: smooth;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img,
video {
  max-width: 100%;
  display: block;
}

img {
  border-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

/*** Attributes & states ***/

[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}

/*** Screen reader ***/

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

/*** Remove all animations and transitions for people that prefer to not see them ***/
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important;
  }
}