@import 'reset';
@import 'typography';

@import 'blocks/site-head';
@import 'blocks/site-main';
@import 'blocks/site-foot';

// Start global styling
:root {
  --flow-space: #{get-size('600')};
}

body {
  background: get-color('light');
  color: get-color('dark');
  line-height: 1.5;

  // @include apply-utility('font', 'base');
}

a:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('brown');
}

:focus {
  outline: 2px solid get-color('brown');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;

  // @include apply-utility('font', 'sans');
  // @include apply-utility('leading', 'flat');
}

// High contrast selection because it helps visually imapaired folks
// to read the text easier
::selection {
  color: get-color('light');
  background: get-color('dark');
}

// Scrollbar styles
::webkit-scrollbar {
  height: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid get-color('dark');
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: get-color('dark');
  border-radius: 0.25rem;
}