<div class="entrees">
  <h3 class="section-headline">{{ breakfast.title }}</h3>
  <h4 class="section-headline">{{ breakfast.summary }}</h4>
  {% for wrap in breakfastMenu.wraps %}
  <div class="item">
    <div class="item__wrapper">
      <div class="item__name">{{ wrap.name }}</div>
      <div class="item__price">{{ wrap.price }}</div>
      <div class="item__description">{{ wrap.description }}</div>
      <div class="item__prepared">{{ wrap.prepared }}</div>
      <div class="item__allergens">
        <!-- iterate the allergens array in global data and use my homeade check filter -->
        {% for allergen in wrap.allergens %}
        <span class="allergen {{ allergen }}">{{ allergen | check }}</span>
        {% endfor %}
      </div>
  </div>
  {% endfor %}
</div>