<h3 class="section-headline">{{ lunch.title }}</h3>
<h4 class="primary-subheadline">{{ lunch.summary }}</h4>
{% for item in lunchMenu.cold_sandwiches %}
<div class="item">
  <div class="item__wrapper">
    <div class="item__name">{{ item.name }}</div>
    <div class="item__price">{{ item.price }}</div>
    <div class="item__description">{{ item.description }}
    <div class="item__prepared">{{ item.prepared }}</div>
    <div class="item__allergens">
      {% for allergen in wrap.allergens %}
      <span class="allergen {{ allergen }}">{{ allergen | check }}</span>
      {% endfor %}
    </div>

    <h4 class="primary-subheadline">{{ lunch.summarySix }}</h4>
    <h4 class="primary-subheadline">{{ lunch.summarySeven }}</h4>
  </div>
</div>
