<a class="sr-only" href="#main-content">Skip to Content</a>
<header>
  <div class="logo">
    <a href="/" aria-label="{{ site.name }} - Home" class="site-head__brand">
      <img src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
    </a>
  </div>
  <div class="location section-subheadline">
    <h1>{{ intro.main }}</h1>
  </div>
  <div class="specials">
    <h2 class="primary-subheadline">{{ intro.eyebrow }}</h2>
  </div>

  <ul class="legend">
    <li class="legend__item"><i>E</i><span class="big">Eggs</span></li>
    <li class="legend__item"><i>D</i><span class="big">Dairy</span></li>
    <li class="legend__item"><i>W</i><span class="big">Wheat</span></li>
    <li class="legend__item"><i>F</i><span class="big">Fish</span></li>
    <li class="legend__item"><i>S</i><span class="big">Shellfish</span></li>
    <li class="legend__item"><i>N</i><span class="big">Nuts</span></li>
  </ul>
</header>