<a class="[ skip-link ] [ button ]" href="#main-content">Skip to Content</a>
<header>
  <div class="logo">
    <a href="/" aria-label="{{ site.name }} - Home" class="site-head__brand">
      <img src="{{ intro.image }}" alt="{{ intro.imageAlt }}" />
    </a>
  </div>
  <h1 class="primary-headline">{{ intro.eyebrow }}</h1>
  <div class="location">
    <h2>{{ intro.main }}</h2>
  </div>
  <div class="section-subheadline">
    <p>Today's Soups: {{ intro.soups }}</p>
    <p>Today's Specials: {{ intro.specials }}</p>
  </div>
  <div class="legend">
    <div class="legend__item"><i>E</i><span>Eggs</span></div>
    <div class="legend__item"><i>D</i><span>Dairy</span></div>
    <div class="legend__item"><i>W</i><span>Wheat</span></div>
    <div class="legend__item"><i>Y</i><span>Soy</span></div>
    <div class="legend__item"><i>F</i><span>Fish</span></div>
    <div class="legend__item"><i>S</i><span>Shellfish</span></div>
    <div class="legend__item"><i>N</i><span>Nuts</span></div>
  </div>
</header>